* {
  font-family: 'Roboto', sans-serif; }

header {
  position: relative;
  height: 50px; }

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #212121;
  width: 100%;
  height: 50px;
  z-index: 2; }

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0; }

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300; }

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px; }

.subheader {
  position: absolute;
  top: 50px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%; }

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px; }

.subheader_official {
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  margin-top: 6px; }

.subheader_call {
  margin-top: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  text-align: right; }

.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px; }

.subheader_btn {
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 19px; }

.promo {
  min-height: 800px;
  background: url(../img/bg-header.jpg) center center/cover no-repeat;
  padding: 150px 0 135px 0; }

.promo_header {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
  text-align: center; }

.promo_subheader {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center; }

.promo_descr {
  text-align: center;
  margin-top: 23px;
  height: 161px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase; }

.reasons {
  min-height: 864px;
  padding: 71px 0 56px 0; }

.label {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: black;
  color: #ffffff;
  padding: 5px 12px;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center; }

.reasons_title {
  margin-top: 44px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center; }

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400; }

.reasons .reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }

.reasons_round {
  height: 113px;
  width: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

.reasons_descr {
  width: 341px; }

.reasons_header {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400; }

.reasons_text {
  min-width: 341px;
  font-weight: 300;
  color: #202020;
  font-size: 15px;
  line-height: 21px; }

.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url("../img/bg_app.jpg"); }

  .mobile .mobile_item {
    width: 320px;
    height: 280px;
    margin: 0 auto; 
}

